App_WebReferences/Service_cat/Catalogos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStudents">
        <s:complexType />
      </s:element>
      <s:element name="GetStudentsResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarPersonas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_Estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_Municipio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_Colonia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPersonasResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarPersonas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nroDocumento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPersonasResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="GetStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="ListarPersonasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarPersonas" />
  </wsdl:message>
  <wsdl:message name="ListarPersonasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPersonasSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPersonas" />
  </wsdl:message>
  <wsdl:message name="BuscarPersonasSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPersonasResponse" />
  </wsdl:message>
  <wsdl:portType name="CatalogosSoap">
    <wsdl:operation name="GetStudents">
      <wsdl:input message="tns:GetStudentsSoapIn" />
      <wsdl:output message="tns:GetStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarPersonas">
      <wsdl:input message="tns:ListarPersonasSoapIn" />
      <wsdl:output message="tns:ListarPersonasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonas">
      <wsdl:input message="tns:BuscarPersonasSoapIn" />
      <wsdl:output message="tns:BuscarPersonasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CatalogosSoap" type="tns:CatalogosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPersonas">
      <soap:operation soapAction="http://tempuri.org/ListarPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonas">
      <soap:operation soapAction="http://tempuri.org/BuscarPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CatalogosSoap12" type="tns:CatalogosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap12:operation soapAction="http://tempuri.org/GetStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPersonas">
      <soap12:operation soapAction="http://tempuri.org/ListarPersonas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonas">
      <soap12:operation soapAction="http://tempuri.org/BuscarPersonas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Catalogos">
    <wsdl:port name="CatalogosSoap" binding="tns:CatalogosSoap">
      <soap:address location="http://localhost:49837/Catalogos.asmx" />
    </wsdl:port>
    <wsdl:port name="CatalogosSoap12" binding="tns:CatalogosSoap12">
      <soap12:address location="http://localhost:49837/Catalogos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>